/* ---- reset ---- */
​
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  :root {
      --main-color: #F8765E;
  }
  
body {
    margin: 0;
    padding: 0;
  }

h1 {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 550;
    font-size: 26px;
    color: white;
}

@media (min-width: 600px){
    h1 {
        display: flex;
    }   
}

h2 {
    font-size: 23px;
    text-align: center;
    margin-top: 12%;
    color:  #F8765E;
}

h3 {
    font-size: 19px;
    text-align: left;
    margin-top: 9%;
}

p {
    font-size: 16px;
    padding-left: 37px;
    padding-right: 37px;
    line-height: 32px;
    margin-top: 7%;
}

ul {
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

@media (min-width: 600px){
    ul {
        justify-content: right;
        display: flex;
    }   
}

li {
padding: 5%;
}


section {
    margin: 0px;
}

/* ---- typography ---- */

body {
    font-family: 'Roboto', sans-serif;
}


/* ---- header ---- */

a {
    color: white;
    text-decoration: none;
}

header {
        background-color: #F8765E;
    }

/* ---- banner ---- */


.banner {
        background-color: #F8765E;
        padding-bottom: 120px;
        
    }

    @media (min-width: 600px){
        .banner {
            display: flex; 
        }   
    }


.banner p {
    color: white;
    text-align: center;
}

.banner .banner-text1 {
    font-size: 1.7rem;
    line-height: 40px;
}

.banner img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    display: flex;
}

@media (min-width: 600px){
    .banner img {
        flex: 1;

    }   
}


/* ---- form ---- */

input {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    border-radius: 20px;
    width: 75%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: none;
}

input::placeholder {
    color: rgb(175, 173, 173);
    font-size: 0.9rem;
}

button {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    width: 50%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 20px;
    background-color: #9BDBE7;
    color: white;
    font-size: 1rem;
}

/* ---- card ---- */

.card {
    position: relative;
    top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 10%;
}

@media (min-width: 600px){
    .card {
        display: flex; 
    }   
}

.card article {
    max-width: 430px;
    margin: 0 auto;
    align-self: center;
}


.card h3 {
    padding-left: 13%;
    margin-bottom: 10%;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
    width: 73%;
}


.underline {
    width: 25%;
    height: 5px;
    background-color: #F8765E;
    padding: auto;
    margin-left: 38px;
}

/* ---- premium ---- */

.premium article {
    position: relative;
}

.premium img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 180px;
    position: relative;
    z-index: 10;

}
.circle {
    width: 300px;
    height: 300px;
    background-color: #F8765E;
    border-radius: 100%;
    position: absolute;
    top: 35px;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.apple {
    text-align: center;

}

/* ---- review 

.big-square {
    width: 80%;
    height: 500px;
    background-color: #F8765E;
    position: relative;
    z-index: 0;
    margin-left: 20%;
    margin-top: 20%;
    border-radius: 5% 0% 0% 5%;
}

.initial {
    z-index: 5;
    position: absolute;
    width: 40%;
    align-self: left;
}

.initial img {
    width: 40%;
    z-index: 7;
    position: absolute;
    top: 150px;
}

.small-square {
    width: 70px;
    height: 90px;
    background-color: #9BDBE7;
    position: absolute;
    z-index: 5;
    top: 4150px;
    
}

---- */

/* ---- footer ---- */

footer {
    background-color: #F8765E;
}

footer p {
    text-align: center;
    text-size-adjust: 14px;
    padding-top: 10%;
    color: white;
}

/* ---- last ---- */

.last h2 {
    text-align: center;
    padding-left: 37px;
    padding-right: 37px;
    line-height: 40px;
}
.last p{
    color: grey;
    font-size: 20px;
    text-align: center;
}

.last input {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    border-radius: 20px;
    width: 75%;
    padding-left: 7%;
    padding-top: 5%;
    background: rgb(240, 240, 240);
}

.last input::placeholder {
    color:darkgray;
    font-size: 0.9rem;
    

